body{
  background-color: black
}

button{
  position: relative;
  margin:auto;
  background-color: transparent;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 50px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  overflow: hidden;
  transition: all linear 0.3s;
}

button:nth-of-type(1) span:nth-of-type(1){
  position: absolute;
  width: 100px;
  height: 2px;
  transform: translateX(-200%);
  top: 0;
  background-color: cyan;

  animation: moveRight 1s linear infinite
}

button:nth-of-type(1) span:nth-of-type(2){
  position: absolute;
  width: 2px;
  height: 100px;
  right: 0;
  top: -100px;
  background-color: cyan;
  animation: moveDown 1s linear infinite;
}

button:nth-of-type(1) span:nth-of-type(3){
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: cyan;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  animation: moveLeft 1s linear infinite;
}

@keyframes moveRight {
  /* from{left: -100px}
  to{left:100px} */
  from {transform: translateX(-200%);}
  to {transform: translateX(100%);}
}

@keyframes moveDown {
  from {top:-100px}
  to {top: 100px}
}
@keyframes moveLeft {
  from {transform: translateX(100%);}
  to {transform: translateX(-100%);}
}

button:nth-of-type(1):hover{
  background: #00FFFF;
  color: black;
  box-shadow: -1px -1px 30px 0px rgba(0, 255, 255, 0.9)

}
